# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Root JARs
/*.jar

# Include stubs.jar for compilation
!libs/stubs.jar

# Allow the releases directory (published JARs for download)
!releases/
!releases/**
